body {
    font-family:'Josefin Sans', sans-serif;
    box-sizing: border-box;
    margin: 0 auto;
}

/* :root {
--font_color:#123863;   
} */

.main_header div {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color:#262626;
    
}

.background_img {
    position: relative;
    margin-bottom: 0;
    width: 100%;
    height: 300px;
    background: url("../Images/Capri_2.jpg");
    background-size: cover;
    background-position: 10% 65%;
    background-repeat: no-repeat;
}

.main_header h1 {
    font-family: Arial, Helvetica, sans-serif;
    width: 20%;
    height: 10%;
    padding: 5px; 
    padding-left: 30px;
    text-align: right; 
    color:  #575555;
    background: #e6e6e6;
    border-radius: 2px;
    
}

nav > a {
    color:lightgrey;
    margin: 0 16px;
    font-size: 16pt;
    cursor: pointer;

}

.links a:hover {
    color:white;
    
}

.container{
    width: 100%;
}
/*GRID LAYOUT FOR ABOUT ME SECTION*/
.container_about_me {
    margin: 20px;
    padding: 20px;  
    display: grid;
    grid-template-columns: 20% 18% 60%;
    grid-template-rows: 200px;
}
/*FORMATTING FOR ABOUT ME ALIGNED ON LEFT*/
.about_me{
    font-size: 40pt;
    border-right: 2px solid black;
    text-align: right;
    padding: 0px 20px;
}

.container_about_me > div img{
    width: 200px;
    height: 200px;
    padding-left:10px; 
    
   
}

.about_me_content {
    font-size: 14pt;
}

/*GRID LAYOUT FOR WORK SECTION*/
.container_work {
    margin: 20px;
    padding: 20px;   
    display:grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 25% 25% 25% 25%;

}
/*FORMATTING FOR WORK ALIGNED ON LEFT*/
.work {
    font-size: 40pt;
    height: 800px;
    border-right: 2px solid black;
    text-align: right;
    padding: 0px 20px;
    grid-row: 1/5;
}

/*FIRST LARGER WORK ITEM*/
/* Photo by <a href="https://unsplash.com/@cgower?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Christopher Gower</a> */
.work_content_1 {
    grid-column: 2/4;
    grid-row: 1/3;
    background-image: url(../Images/code_computer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60%;
    margin: 0px 25px;
    border: 4px solid red;
    position: relative;
}

#subtitle_1 {
    position: absolute;
    background-color: red;
    width: 110px;
    height: 55px;
    line-height: 0.2;
    padding: 5px 10px;
    color:white;
    top: 300px;
}

/*OUTLINE FOR REMAINING WORK CONTENT*/
/* <span>Photo by <a href="https://unsplash.com/@jay_zhang?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Jay Zhang</a> on <a href="https://unsplash.com/s/photos/cool-keyboard?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span> */
.work_content_2 {
    position:relative;
    margin-top:15px;
    margin-bottom:10px;
    margin-left: 25px;
    margin-right: 10px;
    background-image: url(../Images/keyboard.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    border: 4px solid red;

}

#work_subtitles {
    position: absolute;
    background-color: red;
    width: 110px;
    height: 55px;
    line-height: 0.2;
    padding: 5px 10px;
    color:white;
    top: 80px;
}
/* <span>Photo by <a href="https://unsplash.com/@hugorrocha?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Hugo Rocha</a> on <a href="https://unsplash.com/s/photos/brainstorm-no-peopple?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span> */
.work_content_3 {
    position:relative;
    margin-top:15px;
    margin-bottom:10px;
    margin-right:25px;
    background-image: url("../Images/stickey_notes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 4px solid red;
}

/* <span>Photo by <a href="https://unsplash.com/@cookiethepom?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Cookie the Pom</a> on <a href="https://unsplash.com/s/photos/computer-nerd?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span> */
.work_content_4 {
    position:relative;
    margin-bottom:20px;
    margin-left: 25px;
    margin-right: 10px;
    background-image: url("../Images/dog_on_computer.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 15%;
    border: 4px solid red;
}

/* <span>Photo by <a href="https://unsplash.com/@swimstaralex?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Alexander Sinn</a> on <a href="https://unsplash.com/s/photos/love-to-code?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span> */
.work_content_5 {
    position:relative;
    margin-bottom:20px;
    margin-right:25px;
    background-image: url("../Images/heart_code.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 5%;
    border: 4px solid red;
}
/* HOVER OVER EFFECT ON IMAGES */
.work_content_1:hover {
    opacity: .3;
    cursor: pointer;
}

.work_content_2:hover {
    opacity: .3;
    cursor: pointer;
}

.work_content_3:hover {
    opacity: .3;
    cursor: pointer;
}

.work_content_4:hover{
    opacity: .3;
    cursor: pointer;
}

.work_content_5:hover{
    opacity: .3;
    cursor: pointer;
}

/*GRID LAYOUT FOR CONTACT ME SECTION*/
.container_contact_me {
    margin: 20px;
    padding: 20px;   
    display:grid;
    grid-template-columns: 20% 80%;
}

/*FORMATTING FOR CONTACT ME ALIGNED ON LEFT*/
.contact_me {
    font-size: 40pt;
    border-right: 2px solid black;
    text-align: right;
    padding: 0px 20px;
}

/* FORMATTING FOR CONTACT ME */
.contact_me_info > ul > li{
    font-size: 18pt;  
    list-style-type: none; 
    text-decoration: underline;
    display: inline;
    margin: 25px;   
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;  
}

